#contacts {
  padding-bottom: 70px;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    height: 100vh;
    max-height: 1080px;
  }

  .contacts-image {
    max-width: 100%;
  }

  .contacts-list {
    li {
      text-align: center;
      margin-bottom: 35px;

      a {
        display: inline;
      }
    }
  }
}