#blog {
  padding-bottom: 70px;

  .link-more-blog {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    svg {
      fill: #fff;
      transition: .5s;
    }

    &:hover {

      svg {
        fill: $primary;
      }
    }
  }
}

.blog-card {
  position: relative;
  padding: 50px 15px;
  @extend %img;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    padding: 80px 40px;
  }

  @media (min-width: map_get($grid-breakpoints, lg)) {
    padding: 100px 70px;
    margin-bottom: 0;
    height: 100%;
  }

  &__title {
    margin-bottom: 40px;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      margin-bottom: 60px;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
      margin-bottom: 100px;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      margin-bottom: 130px;
    }
  }

  &__description {
    max-width: 270px;
  }

  &::before {
    content: '';
    @extend %pos;
    background: linear-gradient(90deg, #1B1919 2.08%, rgba(52, 50, 50, 0.46) 46.15%, rgba(196, 196, 196, 0) 100%);
    z-index: -2;
  }
}

.blog-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 15px;
  height: 100%;
  background: $darken;
  overflow: hidden;
  z-index: 5;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    padding: 80px 30px;
  }

  @media (min-width: map_get($grid-breakpoints, lg)) {
    padding: 100px 50px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 270px;
    background: url('../images/icons/decor-blog.png') top left /cover no-repeat;
    z-index: -2;
  }

  .section-title {
    margin-bottom: 60px;
  }
}

.blog-item {
  display: block;
  margin-bottom: 50px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__title {
    color: $primary;
    margin-bottom: 20px;
  }

  &__description {
    font-family: $font-family-base;
    font-weight: 300;
    color: #fff;
  }
}